/INCA_libs/*
/SLib.lib++
/Makefile/*
/novas.conf
/register_gate.txt
/lab7_gatesim.fsdb
/novas_dump.log
/INCA_libs/*
/lab7_presim.fsdb
/ncverilog.log
/nWaveLog/*
/top_pipe_syn.sdf.X
/BSSLib.lib++/*
/ncverilog.history
sim/ncverilog.log
sim/novas_dump.log
**/logs
*.log
*.logs
